<header class="header-image">
    <div class="headline">
        <div class="container">
            <h1>One Page Wonder</h1>
            <h2>Will Knock Your Socks Off</h2>
        </div>
    </div>
</header>
<section id="news">
    <!-- Page Content -->
    <div class="container">
        <div class="news" ng-repeat="new in blog.results">
            <hr class="featurette-divider">

            <!-- First Featurette -->
            <div class="featurette">
                <img class="featurette-image img-rounded img-responsive" ng-src="{{new.image_source}}"
                     ng-class="{'pull-right':$index % 2 === 0, 'pull-left':$index % 2 !== 0}" width="500">
                <h2 class="featurette-heading">{{new.title}}
                </h2>
                <span class="text-muted">{{new.created}}</span>
                <p class="lead">{{new.news}}</p>
            </div>
        </div>
    </div>
</section>
    
