<div id="cover">

</div>
<section id="projects">
    <h1 class="text-muted">Projekty</h1>
    <div class="marketing">


        <div class="row">
            <div ng-repeat="painting in paintings.results" class="col" ng-if="paintings.results.length">
                <div class="scale" ui-sref="img-viewer({id:painting.id})">
                    <div class="imej">
                        <img class="" ng-src="{{painting.image_source}}">
                    </div>
                    <div class="text-holder">
                        <h2>{{painting.title}}</h2>
                        <p>{{painting.price}}</p>
                    </div>
                </div>
            </div>


        </div>
    </div>


</section>
<div id="cover2">

</div>
<section id="about">
    <div class="about">
    <span>
        <h1 class="text-muted">O mnie</h1>
        <h3 class="lead">Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies-->
            vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna. </h3>
    </span>

    </div>
</section>
<div id="cover3">

</div>
<div>
    <section id="contact">
        <h1 class="text-muted">Kontakt</h1>
        <div>
            <form ng-submit="sendPost()" id="form" class="topBefore">

                <input ng-model="newSubject" id="name" type="text" placeholder="IMIĘ">
                <input ng-model="newMail" id="email" type="text" placeholder="E-MAIL">
                <textarea ng-model="newBody" id="message" type="text" placeholder="WIADOMOŚĆ"></textarea>
                <input id="submit" type="submit" value="WYŚLIJ">
            </form>
        </div>


    </section>
</div>
