
<!-- Page Content -->
<div class="container">

    <!-- Portfolio Item Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Portfolio Item
                <small>Item Subheading</small>
            </h1>
        </div>
    </div>
    <!-- /.row -->

    <!-- Portfolio Item Row -->
    <div class="row">

        <div class="col-md-8">
            <img class="img-responsive" src={{paint.image_source}} alt="">
        </div>

        <div class="col-md-4">
            <h3>Project Description</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque
                urna varius vitae. Sed dui lorem, adipiscing in adipiscing et, interdum nec metus. Mauris ultricies,
                justo eu convallis placerat, felis enim.</p>
            <h3>Project Details</h3>
            <ul>
                <li>Lorem Ipsum</li>
                <li>Dolor Sit Amet</li>
                <li>Consectetur</li>
                <li>Adipiscing Elit</li>
            </ul>
        </div>

    </div>
    <!-- /.row -->
    <!--<div class="news" ng-repeat="new in blogFirst">-->


    <!--<div class="row featurette">-->
    <!--<div class="col-md-7" ng-class="{'col-md-push-5':$index === 0 || !!($index && !($index%2))}">-->
    <!--<h2 class="featurette-heading"><span class="text-muted">{{new.title}}</span></h2>-->
    <!--<p class="lead">{{new.news}}</p>-->
    <!--</div>-->
    <!--<div class="col-md-5" ng-class="{'col-md-pull-7':$index === 0 || !!($index && !($index%2))}">-->
    <!--<img class="featurette-image img-responsive center-block" ng-src="{{new.image_source}}"-->
    <!--alt="Generic placeholder image" width="500" height="500">-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!-- /.container -->
    <!-- Related Projects Row -->
    <div class="row">

        <div class="col-lg-12">
            <h3 class="page-header">Related Projects</h3>
        </div>
        <div class="gallery" ng-repeat="painting in localGallery">
        <div class="col-sm-3 col-xs-6">
            <a href="#">
                <img class="img-responsive portfolio-item" src={{painting.image_source}} alt="">
            </a>
        </div>

        </div>

</div>

