<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Klaudia Kusik Art</title>

    <!-- Bootstrap core CSS -->
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for tbloglate -->
    <link href="app.css" rel="stylesheet">
</head>
<!-- NAVBAR
================================================== -->
<body id="page-top" ng-app="productApp" ng-controller="ProductListController">
<div class="menu">
    <ul>
        <li>
            <a class="page-scroll active hidden" href="#page-top">Start</a>
        </li>
        <li>
            <a class="page-scroll" href="#projects">Projekty</a>
        </li>
        <li>
            <a class="page-scroll" href="#about">O mnie</a>
        </li>
        <li>
            <a class="page-scroll" href="#contact">Kontakt</a>
        </li>
        <li>
            <a class="page-scroll" href="">Blog</a>
        </li>
    </ul>
</div>

<div id="cover">

</div>
<section id="projects">
    <h1 class="text-muted">Projekty</h1>
    <div class="marketing">

        <!-- Three columns of text below the carousel -->
        <div class="row">
            <div ng-repeat="painting in paintings.results" class="col" ng-if="paintings.results.length">
                <div class="scale">
                    <div class="imej">
                        <img class="" ng-src="{{painting.image_source}}">
                    </div>
                    <div class="text-holder">
                        <h2>{{painting.title}}</h2>
                        <p>{{painting.price}}</p>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>
<div id="cover2">

</div>
<section id="about">
    <div class="about">
    <span>
        <h1 class="text-muted">O mnie</h1>
        <h3 class="lead">Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies-->
            vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna. </h3>
    </span>

    </div>
</section>
<div id="cover3">

</div>
<div>
    <section id="contact">
        <h1 class="text-muted">Kontakt</h1>
        <div>
            <form ng-submit="sendPost()" id="form" class="topBefore">

                <input ng-model="newSubject" id="name" type="text" placeholder="IMIĘ">
                <input ng-model="newMail" id="email" type="text" placeholder="E-MAIL">
                <textarea ng-model="newBody" id="message" type="text" placeholder="WIADOMOŚĆ"></textarea>
                <input id="submit" type="submit" value="WYŚLIJ">
            </form>
        </div>
    </section>
</div>
<!--<div class="news" ng-repeat="new in blogFirst">-->


<!--<div class="row featurette">-->
<!--<div class="col-md-7" ng-class="{'col-md-push-5':$index === 0 || !!($index && !($index%2))}">-->
<!--<h2 class="featurette-heading"><span class="text-muted">{{new.title}}</span></h2>-->
<!--<p class="lead">{{new.news}}</p>-->
<!--</div>-->
<!--<div class="col-md-5" ng-class="{'col-md-pull-7':$index === 0 || !!($index && !($index%2))}">-->
<!--<img class="featurette-image img-responsive center-block" ng-src="{{new.image_source}}"-->
<!--alt="Generic placeholder image" width="500" height="500">-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!-- /.container -->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="bower_components/jquery/assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script src="app.js"></script>
<script src="components/version/version.js"></script>
<script src="components/version/version-directive.js"></script>
<script src="components/version/interpolate-filter.js"></script>
<script src="controllers/controller.js"></script>
<script src="service/products.js"></script>
<script src="service/blog.js"></script>
<script src="js/jquery.easing.min.js"></script>
<script src="js/scrolling-nav.js"></script>
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/jquery-ui/jquery-ui.js"></script>
<link href="https://fonts.googleapis.com/css?family=Advent+Pro|Bad+Script|Bubbler+One|Calligraffitti|Cinzel+Decorative|Fauna+One|Federo|Handlee|Imprima|Italiana|Kite+One|Nova+Slim|Poiret+One|Raleway+Dots|Snippet|Syncopate|Text+Me+One"
      rel="stylesheet">
</body>
</html>








